/*Generics*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Utilities*/

.container {
  width: 80%;
  margin: 0 auto;
}

/*Typography*/

ul {
  list-style: none;
}


/*Header*/

header {
  background-color: #f8f9fa;
  padding: 1rem;
}

/*Main*/

main {

  .navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;

    button.active {
      background-color: #ffc107;
      color: black;
      border: 1px solid #ffc109;
    }

    button {
      background-color: #0d6efd;
      color: white;
      font-size: 1.3rem;
      padding: 0.8rem 1rem;
      border: 1px solid blue;
      border-radius: 15px;

      &:hover {
        background-color: #ffc107;
        color: black;
        border: 1px solid #ffc109;
      }

    }

  }
}